{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSSudoku</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/912ee017a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'sudoku/style.css' %}">
    <link rel="stylesheet" href="{% static 'sudoku/index.css' %}">
</head>

<body>
    <header>
        <div class="logo">dssudoku</div>
        <div>
            <a href="/user-home">Home</a>
            <a href="/gameboard">Play</a>
            <a href="https://github.com/saurabhmahra91/saurabhmahra91">About</a>
        </div>
    </header>

    {% for message in messages %}
    <div class="alert alert-success" id="message">
        <span class="close" href="#" data-dismiss="alert" onclick="parentNode.remove()">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
        {{ message }}
    </div>
    {% endfor %}

    <div class="form">
        <div class="form-container" id="form-container1">
            <h1>Login</h1>
            <form action="/login/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="login-form">
                    <label for="{{ login_form.username.id_for_label }}">{{ login_form.username.label }}: </label>
                    <input name="{{ login_form.username.html_name }}" type="text" minlength="6" id="{{ login_form.username.id_for_label }}" required>
                    <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}: </label>
                    <input name="{{ login_form.password.html_name }}" type="password" id="{{ login_form.password.id_for_label }}" required>
                    <div>
                        <button class="submit-container">
                            <i class="fa-solid fa-user"></i>
                            <input type="submit" value="submit">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-container" id="form-container2">
            <h1>Signup</h1>
            <form action="/register/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="signin-form">

                    <label for="{{ signin_form.username.id_for_label }}">{{ signin_form.username.label }}: </label>
                    <input name="{{ signin_form.username.html_name }}" type="text" minlength="6" id="{{ form.username.id_for_label }}" required>
                    <label for="{{ signin_form.password1.id_for_label }}">{{ signin_form.password1.label }}: </label>
                    <input name="{{ signin_form.password1.html_name }}" type="password" id="{{ form.password1.id_for_label }}" required>
                    <div class="helptext">
                        {{signin_form.password1.help_text}}
                    </div>
                    <label for="{{ signin_form.password2.id_for_label }}">{{ signin_form.password2.label }}: </label>
                    <input name="{{ signin_form.password2.html_name }}" type="password" id="{{ form.password2.id_for_label }}" required>
                    <div class="helptext">
                        {{signin_form.password2.help_text}}
                    </div>
                    <div>
                        <button class="submit-container">
                            <i class="fa-solid fa-user-plus"></i>
                            <input type="submit" value="submit">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</body>

</html>