{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/912ee017a6.js" crossorigin="anonymous"></script>
    <title>DSSudoku</title>
    <link rel="stylesheet" href="{% static 'sudoku/style.css' %}">
    <link rel="stylesheet" href="{% static 'sudoku/user-home.css' %}">
</head>


<body>
    <header>
        <div class="logo">dssudoku</div>
        <div>
            <a href="/user-home">Home</a>
            {% if request.user.is_authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/index">Login</a>
            {% endif %}
            <a href="https://github.com/saurabhmahra91/saurabhmahra91">About</a>
        </div>
    </header>
    {% for message in messages %}
    <div class="alert" id="message">
        <span class="close" href="#" data-dismiss="alert" onclick="parentNode.remove()">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
        {{ message }}
    </div>
    {% endfor %}
    <h1 class="username">
        hello {{ user.username }}
    </h1>
    <div class="main">
        <div class="actions">
            <form action="/create-game" method="GET">
                <div class="new">
                    <h1>
                        Create a new game
                    </h1>
                    <div class="buckets">
                        <label for="N">Number of empty buckets:</label>
                        <input type="number" name="K" id="K" min="15" , max="64" value="30">
                    </div>
                    <div class="level-buttons" style="margin: 1rem 0;">
                        <a href="#" class="button" onClick="document.getElementById('K').value=20 ">Easy</a>
                        <a href="#" class="button" onclick="document.getElementById('K').value=45 ">Medium</a>
                        <a href="#" class="button" onclick="document.getElementById('K').value=60 ">Hard</a>
                    </div>
                    <div class="instructions">
                        <p>
                            The number of empty buckets decides the difficulty of the game. It can be anything between
                            15
                            and
                            64.
                        </p>
                        <p>
                            You will get an board id which you can share with your friends. They can join the same game
                            by
                            entering the board id.
                        </p>
                    </div>

                    <input class="button" type="submit" value="Create Board">
                </div>
            </form>
            <h1 class="or">
                OR
            </h1>
            <div class="join">
                <form action="/join-game/" method="GET">
                    <h1>
                        Join a live game
                    </h1>
                    <div class="input-group">
                        <label for="id">Board ID</label>
                        <input type="number" name="id" id="id">
                    </div>
                    <input type="submit" value="Join">
                    <div class="instructions">
                        <p>
                            Every player will have their individual timers which starts as soon as they create/join a game.
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="rules">
            <ul>
                <h2 class="rules-header">Sudoku Rules</h2>
                <li>
                    There are 81 total buckets in a grid of 9X9. You have to fill in integers between 1 and 9 (both
                    inclusive)
                </li>
                <li>
                    Numbers in a particular row or column cannot be repeated
                </li>
                <li>
                    there are subgrid of size 3X3 within the main grid of 9X9. Any number within a particular subgrid
                    cannot be repeated.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>